@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
html {
    font: 20px/1 raleway sans-serif;
}

a {
    text-decoration: none;
}
  
a:hover {
    color: #0000ff;
}
  
body {
    background-color: #EDEDED;
}

footer {
    align-items: center;
    background-color: #333;
    color: #9d9d9d;
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.contact {
    margin: 2rem 0;
    text-align: center;
}

.contact__list {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}
  
.contact__list-item {
    margin-right: 4rem;
}
  
.contact__list-item:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.contact__list-item:last-child {
    margin-right: 0;
}
  
.contact__title {
    font-family: "indie flower";
    text-decoration: underline;
}

.home {
    align-items: center;
    background: url(https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
}

.home h1 {
    animation: 
        typing 4s steps(30, end),
        blink-caret 1s step-end infinite;
    border-right: .15em solid white;
    color: #fff;
    letter-spacing: .15em;
    margin: .2em auto;
    overflow: hidden;
    white-space: nowrap;
}

.main-header {
    align-items: center;
    background-color: #333;
    color: #9d9d9d;
    display: flex;
    flex-direction: column;
    font-family: raleway;
    padding: .25rem 2rem;
    width: 100%;
}

.navLink, .main-header__title {
    color: #9d9d9d;
    text-decoration: none;
}

.navLink:hover {
  color: #ffffff;
}
  
.nav__list li {
    text-align: center;
    margin: 1rem auto;
    list-style-type: none;
}
  
.nav__list-item:last-child {
    margin-right: 0;
}

.portfolio {
    margin: 2rem 0;
}

.portfolio__about-me {
    grid-column: 1 / span 4;
    margin-right: 2rem;
}

.portfolio__avatar {
    grid-column: 5 / span 3;
}

.portfolio__content--grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 2rem;
}
 
.portfolio__desciption {
    font: 800 .9rem "indie flower";
    text-align: center;
}

.portfolio__image {
    border: solid white 2px;
    border-radius: 15%;
    box-shadow: 5px 7px 5px 10px #666;
    height: auto;
    width: 100%;
}
  
.portfolio__list-item {
    margin-top: 0.5rem;
}
  
.portfolio__subtitle {
    margin-bottom: 1rem;
    text-decoration: underline;
}

.portfolio__title {
    font-family: "indie flower";
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
}
  
.portfolio__title--margin {
    margin-top: 3rem;
}

.project-card {
    align-items: center;
    background-image: linear-gradient(to top, white, #FFA07A);
    border: 1px solid #FFA07A;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    padding: 1rem;
}

.project-card:hover {
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
    transform: scale(1.05);
}

.project-card__figure {
    margin: 1rem auto;
}

.project-card__img {
    width: 100%;
}

.project-card__info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.project-card__info-button button{
    margin: 0 .5rem;
}

.project-card__info-button__github {
    background-color: #5bc0de;
    border-color: #46b8da;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 6px 12px;
}

.project-card__info-button__github:hover {
    background-color: #31b0d5;
    border-color: #269abc;
    cursor: pointer;
}

.project-card__info-button__site {
    background-color: #fff;
    border-color: #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 12px;
}

.project-card__info-button__site:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

.project-card__info-overview {
    margin-bottom: 1rem;
}

.project-card__title a:hover {
    color: blue;
}

.projects {
    margin: 2rem 0;
}

.projects__list {
    background-color: #fff;
    border: 1px solid#FFA07A;
    border-radius: 1rem;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    padding: 2rem;
}

.projects__title {
    font-family: "indie flower";
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
}

/* CONTACT FORM */

.action {
    align-items: center;
    display: flex;
    justify-content: center;
}

.action input {
    background-color: #444;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    margin: .5rem;
    padding: 1.25em;
    width: 15%;
}

.action input:first-child {
    background-color: #43B3E0;
}

.contact__form {
    margin-top: 3rem;
}

.contact__form-data {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.info input {
    border-radius: 10px;
    font-size: 1rem;
    margin: .5rem;
    padding: .75em;
    width: 35%;
}

.message textarea {
    border-radius: 10px;
    font-size: 1rem;
    height: 10rem;
    margin: .5rem;
    padding: .75em;
    width: 71.5%;
}

.subject input {
    border-radius: 10px;
    font-size: 1rem;
    margin: .5rem;
    padding: .75em;
    width: 71.5%;
}

/* ANIMATIONS/ KEY FRAMES */

@keyframes typing {
    from { width: 0 }
    to { width: 23% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
}

/* MEDIA QUERIES */

@media (min-width: 556px) {
    .portfolio__about-me {
      grid-column: 2 / span 3;
    }
  
    .portfolio__skills {
      margin-left: 14%;
    }

    .projects__list {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

@media (min-width: 768px) {

    .main-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
  
    .nav__list {
        display: flex;
    }
  
    .nav__list li{
        margin-right: 1rem;
    }

    .portfolio__about-me {
        grid-column: 2 / span 2;
    }
    
    .portfolio__avatar {
        grid-column: 4 / span 3;
    }

    .portfolio__image {
        width: 70%;
    }

    .projects__list {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }
}

@media (min-width: 1024px) {

    .projects__list {
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem;
    }
}



/* APPLIED CLASSES */

.active {
    color: white;
    text-decoration: underline;
}